* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* first section */

.container {
    background-color: #1f2937;
    padding: 20px 0px 100px 0px;
    color: white;
}

.row-header{
    margin: 0px 300px;
    display: flex;
    justify-content: space-between;
   
}

.header {
    font-size: 24px;
    font-weight: bolder;
}

ul {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

li {
    list-style-type: none; 
}

a {
    text-decoration: none;
    color: white;
}

/* second section */

.second-section {
    background-color: #1f2937;
    padding-bottom: 100px;
    
}

.row-section {
    margin: 0px 300px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
   
}

.left-section div {
    color: #e5e7eb;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 10px;
}

.left-section p {
    color: #f9faf8;
    font-size: 24px;
    padding-bottom: 10px;
    
}

.left-section button {
    padding: 10px 30px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
}

.right-section img {
    max-width: 550px;
    border-radius: 10px;
}